<!-- Pages Modal -->
<div class="modal fade" id="pagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center p-3">
        <h5 class="modal-title">Número de pàgines</h5>
        <p class="mt-3 mb-0">Afegeix les pàgines que tindrà el teu projecte.</p>
        <p class="mb-2 m-0">El cost de cada pàgina es de 30 €.</p>
      </div>
    </div>
  </div>
</div>

<!-- Languages Modal -->
<div class="modal fade" id="languagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center p-3">
        <h5 class="modal-title">Número de llenguatges</h5>
        <p class="mt-3 mb-0">Afegeix els llenguatges que tindrà el teu projecte.</p>
        <p class="mb-2 m-0">El cost de cada llenguatge es de 30 €.</p>
      </div>
    </div>
  </div>
</div>
